$color-pink: hsl(322, 100%, 66%);
$color-light-pink: hsl(321, 100%, 78%);
$color-light-red: hsl(0, 100%, 63%);
$color-white: white;
$color-gray: gray;
$color-red: red;
$color-blue-light: rgb(246, 251, 255);

$color-very-dark-cyan: hsl(192, 100%, 9%);
$color-very-pale-blue: hsl(207, 100%, 98%);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
    border: none;
    box-shadow: none;
}

a {
    all: unset;
    cursor: pointer;
}

.p-right {
    padding-right: 8rem;
}

.p-left {
    padding-left: 8rem;
}

.px-8-vw {
    padding-left: 8vw;
    padding-right: 8vw;
}

.px-18-vw {
    padding-left: 18vw;
    padding-right: 18vw;
}