$color-pink: hsl(322, 100%, 66%);
$color-light-pink: hsl(321, 100%, 78%);
$color-light-red: hsl(0, 100%, 63%);
$color-light-green: hsl(154, 59%, 51%);
$color-white: white;
$color-gray: gray;
$color-blue-light: rgb(246, 251, 255);

$color-very-dark-cyan: hsl(192, 100%, 9%);
$color-very-pale-blue: hsl(207, 100%, 98%);

$break-mobile: 900px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
    border: none;
    box-shadow: none;
}

a {
    all: unset;
    cursor: pointer;
}

.px-8-vw {
    padding-left: 8vw;
    padding-right: 8vw;
}

.container {
    padding-left: 18vw;
    padding-right: 18vw;

    @media screen and(max-width: $break-mobile) {
        padding-left: 7vw;
        padding-right: 7vw;
    }
}