header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;

    img {
        width: 180px;
    }
}

.btn {
    border: 1px solid $color-pink;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    text-decoration: none;
    display: block;
}

.btn-rounded-white {
    background-color: $color-white;
    color: $color-pink;
}

.btn-rounded-pink {
    font-size: 1rem;
    font-weight: 700;
    background-color: $color-pink;
    color: $color-very-pale-blue;
    padding: 1.2rem 6rem;
    width: 20%;
}

h1 {
    font-family: Poppins, sans-serif;
    font-size: 3.2rem;   
    text-align: center;
}

section {
    h1 {
        margin-top: 10rem;
    }

    p {
        width: 32%;
        text-align: center;
        font-size: 1.2rem;
        margin: 1rem auto;
    }
    
    a {
        margin-top: 2rem;
        margin: auto;
    }
}

