header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;

    .logo {
        width: 180px;
    }
}

.btn {
    border: 1px solid $color-pink;
    border-radius: 50px;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    text-decoration: none;
    display: block;
}

.btn-rounded-white {
    background-color: $color-white;
    color: $color-pink;
}

.btn-rounded-pink {
    font-size: 1rem;
    font-weight: 700;
    background-color: $color-pink;
    color: $color-very-pale-blue;
    padding: 1.5rem 7rem;
    box-shadow: 0px 5px 20px -5px rgba($color: #000000, $alpha: .5);
}

h1 {
    font-family: Poppins, sans-serif;
    font-size: 3.2rem;   
    text-align: center;
}

.section__center {
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
        margin-top: 10rem;
    }

    p {
        width: 55%;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 2rem;
    }
    
    a {
        margin-top: 3rem;
    }

    img {
        width: 100%;
        margin-top: 5rem;        
    }
}

.emphasis {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 5rem;
    
    &__svg {
        float: left;
        width: 30px;
        height: 24px;
    }

    &__title {
        font-size: 4.8rem;
        font-weight: 700;
    }

    &__info {
        font-size: 1.2rem;
        color: $color-gray;
        font-weight: 400;
    }
}