
.footer {
    display: flex;
    background-color: $color-very-dark-cyan;
    margin-top: 20vw;
    padding-top: 8rem;
    padding-bottom: 4rem;
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 10.7vw;
        background: url(../assets/bg-footer-top-desktop.svg) no-repeat;
        background-size: cover;
        position: absolute;
        top: -10.4vw;
        left: 0;
    }

    @media screen and(max-width: $break-mobile) {
        flex-direction: column-reverse;
        padding: 4rem 3rem 2rem 3rem;
        margin-top: 25rem;
    }

    
    .about {
        width: 60%;    
        color: $color-white;

        @media screen and(max-width: $break-mobile) {
            width: 100%;
        }

        &__paragraph {
            font-weight: 600;
            width: 20vw;
            line-height: 1.8rem;
            margin-top: 1rem;
            margin-bottom: 2rem;

            @media screen and(max-width: $break-mobile) {
                width: 100%;
            }
        }

        &__contact {
            display: flex;
            align-items: center;
            margin-top: 1rem;       
        }

        &__icon {
            margin-right: 1rem;
            transform: scale(0.70);
        }

        .social__media {
            margin-top: 4rem;
            display: flex;
            justify-content: space-between;
            width: 120px;
            height: 50px;
            
            a {
                width: 30px;
            }

            &-icon {
                width: 100%;
                height: 100%;

                &:hover {
                    fill: rgb(0, 174, 255);
                }
            }       
        }
    }

    .newsletter {
        width: 40%;    
        color: $color-white;

        &__title {
            text-transform: uppercase;
        }

        &__paragraph {
            font-size: 1.2rem;
            font-weight: 600;        
            line-height: 1.8rem;
            width: 28rem;
            margin-top: 1rem;

            @media screen and(max-width: $break-mobile) {
                width: 100%;
            }
        }

        .form {

            &__group {
                position: relative;
                height: 50px;
                margin-top: 2rem;
            }

            &__input {
                padding: .9rem .5rem; 
                border-radius: 3px;
                width: 230px;

                @media screen and(max-width: $break-mobile) {
                    width: 100%;
                }
            }

            &__error {
                font-size: 1rem;
                position: absolute;
                bottom: -2px;
                left: 0;
                font-weight: 600;
                color: $color-light-red;

            }

            .btn-square {
                margin-left: 2.5rem;

                @media screen and(max-width: $break-mobile) {
                    margin: 1rem 0;
                    float: right;
                }
            }
        }

        @media screen and(max-width: $break-mobile) {
            width: 100%;
        }
    }
}

