header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;

    @media screen and(max-width: $break-mobile) {
        padding: 2rem 2rem;
    }
}
