html {
    font-family: Open Sans, sans-serif;
    font-size: 10px;
    color: $color-very-dark-cyan;

    @media screen and(max-width: 900px) {
        //font-size: 10px;
    }
}

.text-center {
    text-align: center;
}

h1, h2 {
    font-family: Poppins, sans-serif;
}

h1 {
    font-size: 4.2rem; 

    @media screen and(max-width: $break-mobile) {
        font-size: 2.4rem;
    }
}

h2 {
    font-size: 3.2rem; 

    @media screen and(max-width: $break-mobile) {
        font-size: 2rem;
    }

}

h3 {
    font-size: 1.8rem; 
}

p, span {
    font-size: 1.2rem;
}