* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a {
  all: unset;
  cursor: pointer;
}

.px-8-vw {
  padding-left: 8vw;
  padding-right: 8vw;
}

.container {
  padding-left: 18vw;
  padding-right: 18vw;
}

@media screen and (max-width: 900px) {
  .container {
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

html {
  font-family: Open Sans, sans-serif;
  font-size: 10px;
  color: #00252e;
}

.text-center {
  text-align: center;
}

h1, h2 {
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 4.2rem;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 2.4rem;
  }
}

h2 {
  font-size: 3.2rem;
}

@media screen and (max-width: 900px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.8rem;
}

p, span {
  font-size: 1.2rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4vh 6vw 7vh;
}

@media screen and (max-width: 900px) {
  header {
    padding: 2rem 2rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00252e;
  margin-top: 20vw;
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
}

.footer::before {
  content: '';
  width: 100%;
  height: 10.7vw;
  background: url(../assets/bg-footer-top-desktop.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: -10.4vw;
  left: 0;
}

@media screen and (max-width: 900px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 4rem 3rem 2rem 3rem;
    margin-top: 25rem;
  }
}

.footer .about {
  width: 60%;
  color: white;
}

.footer .about__paragraph {
  width: 20vw;
  line-height: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.footer .about__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.footer .about__icon {
  margin-right: 1rem;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.footer .about .social__media {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  height: 50px;
}

.footer .about .social__media a {
  width: 30px;
}

.footer .about .social__media-icon {
  width: 100%;
  height: 100%;
}

.footer .about .social__media-icon:hover {
  fill: #00aeff;
}

@media screen and (max-width: 900px) {
  .footer .about {
    width: 100%;
    margin-top: 8rem;
  }
  .footer .about .logo {
    width: 220px;
  }
  .footer .about__paragraph {
    margin-top: 1rem;
    width: 100%;
  }
  .footer .about__icon {
    margin-right: 1rem;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.footer .newsletter {
  min-width: 373px;
  width: 40%;
  color: white;
}

.footer .newsletter__title {
  text-transform: uppercase;
}

.footer .newsletter__paragraph {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.8rem;
  width: 28rem;
  margin-top: 1rem;
}

@media screen and (max-width: 900px) {
  .footer .newsletter__paragraph {
    width: 100%;
  }
}

.footer .newsletter .form__group {
  position: relative;
  height: 50px;
  margin-top: 2rem;
}

.footer .newsletter .form__input {
  padding: .9rem .5rem;
  border-radius: 3px;
  width: 100%;
  max-width: 280px;
}

@media screen and (max-width: 900px) {
  .footer .newsletter .form__input {
    width: 100%;
  }
}

.footer .newsletter .form__msg {
  font-size: 1.1rem;
  position: absolute;
  bottom: -2px;
  left: 0;
  font-weight: 600;
  color: #ff4242;
  visibility: hidden;
}

.footer .newsletter .form__msg--error {
  color: #ff4242;
}

.footer .newsletter .form__msg--sucess {
  color: #4BB543;
}

.footer .newsletter .form .btn-square {
  margin-left: 2.5rem;
}

@media screen and (max-width: 900px) {
  .footer .newsletter .form .btn-square {
    margin: 1rem 0;
    float: right;
  }
}

@media screen and (max-width: 900px) {
  .footer .newsletter {
    width: 100%;
    min-width: inherit;
  }
}

.logo {
  width: 250px;
}

.logo svg {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .logo {
    width: 150px;
  }
}

.logo--white svg g path {
  fill: white;
}

.btn {
  border: 1px solid #ff52bf;
  border-radius: 50px;
  font-size: 1.4rem;
  padding: .7rem 2.5rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .btn {
    font-size: 1.2rem;
    padding: .5rem 2rem;
  }
}

.btn-rounded--white {
  background-color: white;
  color: #ff52bf;
}

.btn-rounded--pink {
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ff52bf;
  color: #f5faff;
  padding: 2rem 8.5rem;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
}

.btn-rounded--pink:hover {
  background-color: #ff8fd8;
}

@media screen and (max-width: 900px) {
  .btn-rounded--pink {
    font-size: 1.2rem;
    padding: 1.2rem 5rem;
  }
}

.btn-square {
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #ff52bf;
  color: #f5faff;
  padding: .9rem 2.5rem;
  border-radius: 3px;
}

.btn-square:hover {
  background-color: #ff8fd8;
}

.section-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section-center h1 {
  margin-top: 10rem;
}

.section-center p {
  width: 55%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 2rem;
}

.section-center a {
  margin-top: 3rem;
}

.section-center img {
  width: 100%;
  margin-top: 8rem;
}

@media screen and (max-width: 900px) {
  .section-center p {
    width: 100%;
  }
  .section-center img {
    margin-top: 8rem;
  }
}

.section-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4vh 8vw;
  margin: 15vw 0;
}

.section-secondary__info {
  width: 50%;
}

.section-secondary__info h2 {
  margin-bottom: 1rem;
}

.section-secondary__info p {
  font-size: 1.4rem;
}

.section-secondary__img {
  width: 50%;
}

.section-secondary__img img {
  width: 100%;
}

.section-secondary .info--right {
  padding-right: 8rem;
}

.section-secondary .info--left {
  padding-left: 8rem;
}

@media screen and (max-width: 900px) {
  .section-secondary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: inherit;
    margin-bottom: 18vh;
    gap: 5rem;
  }
  .section-secondary__info {
    width: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .section-secondary__img {
    width: 80%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .section-secondary .info--right {
    padding-right: 0;
  }
  .section-secondary .info--left {
    padding-left: 0;
    margin-bottom: 6rem;
  }
}

.section-bg-wave {
  background-color: #f6fbff;
  position: relative;
}

.section-bg-wave::before {
  content: '';
  width: 100%;
  position: absolute;
  top: -10.7vw;
  left: 0;
  width: 100%;
  height: 10.7vw;
  background: url("../assets/bg-section-top-desktop-1.svg") no-repeat;
  background-size: cover;
  z-index: 9;
}

@media screen and (max-width: 900px) {
  .section-bg-wave::before {
    top: -29.7vw;
    height: 29.7vw;
  }
}

.section-bg-wave::after {
  content: '';
  position: absolute;
  bottom: -10.7vw;
  left: 0;
  width: 100%;
  height: 10.7vw;
  background: url("../assets/bg-section-bottom-desktop-1.svg") no-repeat;
  background-size: cover;
  z-index: 9;
}

@media screen and (max-width: 900px) {
  .section-bg-wave::after {
    bottom: -14vw;
    height: 14vw;
  }
}

@media screen and (max-width: 900px) {
  .section-bg-wave {
    background-color: #f6fbff;
    position: relative;
  }
  .section-bg-wave::before {
    content: '';
    width: 100%;
    position: absolute;
    top: -10.7vw;
    left: 0;
    width: 100%;
    height: 10.7vw;
    background: url("../assets/bg-section-top-mobile-1.svg") no-repeat;
    background-size: cover;
    z-index: 9;
  }
}

@media screen and (max-width: 900px) and (max-width: 900px) {
  .section-bg-wave::before {
    top: -29.7vw;
    height: 29.7vw;
  }
}

@media screen and (max-width: 900px) {
  .section-bg-wave::after {
    content: '';
    position: absolute;
    bottom: -10.7vw;
    left: 0;
    width: 100%;
    height: 10.7vw;
    background: url("../assets/bg-section-bottom-mobile-1.svg") no-repeat;
    background-size: cover;
    z-index: 9;
  }
}

@media screen and (max-width: 900px) and (max-width: 900px) {
  .section-bg-wave::after {
    bottom: -14vw;
    height: 14vw;
  }
}

.section-bg-wave-2 {
  background-color: #f6fbff;
  position: relative;
}

.section-bg-wave-2::before {
  content: '';
  width: 100%;
  position: absolute;
  top: -10.7vw;
  left: 0;
  width: 100%;
  height: 10.7vw;
  background: url("../assets/bg-section-top-desktop-2.svg") no-repeat;
  background-size: cover;
  z-index: 9;
}

@media screen and (max-width: 900px) {
  .section-bg-wave-2::before {
    top: -29.7vw;
    height: 29.7vw;
  }
}

.section-bg-wave-2::after {
  content: '';
  position: absolute;
  bottom: -10.7vw;
  left: 0;
  width: 100%;
  height: 10.7vw;
  background: url("../assets/bg-section-bottom-desktop-2.svg") no-repeat;
  background-size: cover;
  z-index: 9;
}

@media screen and (max-width: 900px) {
  .section-bg-wave-2::after {
    bottom: -14vw;
    height: 14vw;
  }
}

@media screen and (max-width: 900px) {
  .section-bg-wave-2 {
    padding-bottom: 10rem;
    background-color: #f6fbff;
    position: relative;
  }
  .section-bg-wave-2::before {
    content: '';
    width: 100%;
    position: absolute;
    top: -10.7vw;
    left: 0;
    width: 100%;
    height: 10.7vw;
    background: url("../assets/bg-section-top-mobile-2.svg") no-repeat;
    background-size: cover;
    z-index: 9;
  }
}

@media screen and (max-width: 900px) and (max-width: 900px) {
  .section-bg-wave-2::before {
    top: -29.7vw;
    height: 29.7vw;
  }
}

@media screen and (max-width: 900px) {
  .section-bg-wave-2::after {
    content: '';
    position: absolute;
    bottom: -10.7vw;
    left: 0;
    width: 100%;
    height: 10.7vw;
    background: url("../assets/bg-section-bottom-mobile-2.svg") no-repeat;
    background-size: cover;
    z-index: 9;
  }
}

@media screen and (max-width: 900px) and (max-width: 900px) {
  .section-bg-wave-2::after {
    bottom: -14vw;
    height: 14vw;
  }
}

@media screen and (max-width: 900px) {
  .section-bg-wave-2::after {
    bottom: -27vw;
    height: 28vw;
  }
}

.emphasis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 5rem;
  padding: 0 4vw;
}

.emphasis__svg {
  width: 35px;
  height: 25px;
}

.emphasis__svg svg {
  width: 100%;
}

.emphasis__title {
  font-size: 7.8rem;
  font-weight: 700;
}

.emphasis__info {
  font-size: 1.8rem;
  color: #808080b0;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .emphasis {
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 8rem;
    margin-bottom: 20vh;
  }
  .emphasis__title {
    font-size: 4.8rem;
  }
  .emphasis__info {
    font-size: 1.3rem;
  }
  .emphasis__svg {
    width: 25px;
    height: 20px;
  }
}

.active-error-input {
  outline: 1px solid #ff4242;
}

.active-sucess-input {
  outline: 2px solid #4BB543;
}

.active {
  visibility: visible !important;
}
/*# sourceMappingURL=main.css.map */