* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-right {
  padding-right: 8rem;
}

.px-8-vw {
  padding-left: 8vw;
  padding-right: 8vw;
}

.px-18-vw {
  padding-left: 18vw;
  padding-right: 18vw;
}

html {
  font-family: Open Sans, sans-serif;
  font-size: 10px;
  color: #00252e;
}

.text-center {
  text-align: center;
}

h1, h2 {
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 4rem;
}

header .logo {
  width: 180px;
}

.btn {
  border: 1px solid #ff52bf;
  border-radius: 50px;
  font-size: 1.2rem;
  padding: .5rem 2rem;
  text-decoration: none;
  display: block;
}

.btn-rounded-white {
  background-color: white;
  color: #ff52bf;
}

.btn-rounded-pink {
  font-size: 1rem;
  font-weight: 700;
  background-color: #ff52bf;
  color: #f5faff;
  padding: 1.5rem 7rem;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
}

.section-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-center h1 {
  margin-top: 10rem;
}

.section-center p {
  width: 55%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
}

.section-center a {
  margin-top: 3rem;
}

.section-center img {
  width: 100%;
  margin-top: 5rem;
}

.section-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8vw;
  margin: 20rem 0;
}

.section-row h2 {
  margin-bottom: 1rem;
}

.section-row div {
  width: 50%;
}

.section-row img {
  width: 100%;
}

.section-bg-wave {
  background-color: #f6fbff;
  position: relative;
}

.section-bg-wave::before {
  content: '';
  position: absolute;
  top: -128px;
  left: 0;
  width: 100%;
  height: 165px;
  background: url(../assets/bg-section-top-desktop-1.svg) no-repeat;
  background-size: contain;
  z-index: 9;
}

.section-bg-wave::after {
  content: '';
  position: absolute;
  bottom: -165px;
  left: 0;
  width: 100%;
  height: 165px;
  background: url(../assets/bg-section-bottom-desktop-1.svg) no-repeat;
  background-size: contain;
  z-index: 9;
}

.emphasis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 5rem;
}

.emphasis__svg {
  float: left;
  width: 30px;
  height: 24px;
}

.emphasis__title {
  font-size: 4.8rem;
  font-weight: 700;
}

.emphasis__info {
  font-size: 1.2rem;
  color: gray;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */