* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.p-right {
  padding-right: 8rem;
}

.p-left {
  padding-left: 8rem;
}

.px-8-vw {
  padding-left: 8vw;
  padding-right: 8vw;
}

.px-18-vw {
  padding-left: 18vw;
  padding-right: 18vw;
}

html {
  font-family: Open Sans, sans-serif;
  font-size: 10px;
  color: #00252e;
}

.text-center {
  text-align: center;
}

h1, h2 {
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 4rem;
}

.btn {
  border: 1px solid #ff52bf;
  border-radius: 50px;
  font-size: 1.2rem;
  padding: .5rem 2rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn-rounded--white {
  background-color: white;
  color: #ff52bf;
}

.btn-rounded--pink {
  font-size: 1rem;
  font-weight: 700;
  background-color: #ff52bf;
  color: #f5faff;
  padding: 1.5rem 7rem;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
}

.btn-rounded--pink:hover {
  background-color: #ff8fd8;
}

.btn-square {
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #ff52bf;
  color: #f5faff;
  padding: .9rem 2.5rem;
  border-radius: 3px;
}

.btn-square:hover {
  background-color: #ff8fd8;
}

.section-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-center h1 {
  margin-top: 10rem;
}

.section-center p {
  width: 55%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
}

.section-center a {
  margin-top: 3rem;
}

.section-center img {
  width: 100%;
  margin-top: 5rem;
}

.section-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8vw;
  margin: 20rem 0;
}

.section-row h2 {
  margin-bottom: 1rem;
}

.section-row div {
  width: 50%;
}

.section-row img {
  width: 100%;
}

.section-bg-wave {
  background-color: #f6fbff;
  position: relative;
}

.section-bg-wave::before {
  content: '';
  position: absolute;
  top: -128px;
  left: 0;
  width: 100%;
  height: 165px;
  background: url(../assets/bg-section-top-desktop-1.svg) no-repeat;
  background-size: contain;
  z-index: 9;
}

.section-bg-wave::after {
  content: '';
  position: absolute;
  bottom: -165px;
  left: 0;
  width: 100%;
  height: 165px;
  background: url(../assets/bg-section-bottom-desktop-1.svg) no-repeat;
  background-size: contain;
  z-index: 9;
}

.emphasis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 5rem;
}

.emphasis__svg {
  float: left;
  width: 30px;
  height: 24px;
}

.emphasis__title {
  font-size: 4.8rem;
  font-weight: 700;
}

.emphasis__info {
  font-size: 1.2rem;
  color: gray;
  font-weight: 400;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00252e;
  margin-top: 30rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
}

.footer::before {
  content: '';
  width: 100%;
  height: 158px;
  background: url(../assets/bg-footer-top-desktop.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: -158px;
  left: 0;
}

.about {
  width: 60%;
  color: white;
}

.about__paragraph {
  font-size: 1rem;
  font-weight: 600;
  width: 22rem;
  line-height: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.about__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.about__icon {
  margin-right: 1rem;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.newsletter {
  width: 40%;
  color: white;
}

.newsletter__title {
  text-transform: uppercase;
}

.newsletter__paragraph {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.8rem;
  width: 25rem;
  margin-top: 1rem;
}

.newsletter .form__group {
  position: relative;
  height: 50px;
  margin-top: 2rem;
}

.newsletter .form__input {
  padding: .9rem .5rem;
  border-radius: 3px;
  width: 230px;
}

.newsletter .form__error {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  color: red;
}

.newsletter .form .btn-square {
  margin-left: 2.5rem;
}

.logo {
  width: 240px;
  height: 39px;
}

.logo svg {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.logo--white svg g path {
  fill: white;
}
/*# sourceMappingURL=main.css.map */